---
import Layout from '../layouts/Layout.astro';
import Wprowadzenie from '../components/studia-przypadkow/Wprowadzenie.astro';
import SiatkaStudiow from '../components/studia-przypadkow/SiatkaStudiow.astro';
// Import nowej sekcji
import ZamkniecieCTA from '../components/studia-przypadkow/ZamkniecieCTA.astro';
---

<Layout title="Studia Przypadków - Dowody Skuteczności">
  
  <main>
    <!-- Sekcja 1: Wprowadzenie -->
    <Wprowadzenie />

    <!-- Sekcja 2: Siatka Kart (Slider) -->
    <SiatkaStudiow />
    
    <!-- Sekcja 3: Zamknięcie i CTA -->
    <ZamkniecieCTA />
    
  </main>

</Layout>